#status-container {
    padding: 2em;
    border: solid;
    margin: 20em;
    box-shadow: 0 0 0 5px gray;
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
}