#alert-container {
    display: flex;
    align-items: center;
}

#alert {
    display: flex;
    overflow: hidden;
    gap: 0.5em;
    font-weight: 1000;
    padding: 0.2em;
}

#alert select,
#alert input {
    color: inherit;
    background-color: inherit;
    border: 1px solid black;
    padding: 0.1em 0.2em;
    transform: translateY(-0.05em);
    font-family: monospace;
}

#alert input:focus {
    outline: 1px solid gray;
}

#alert input::-webkit-outer-spin-button,
#alert input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

#alert input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

#critical-point {
    width: 4em;
}

#alert-actions {
    display: flex;
    gap: 1em;
    margin-bottom: 0.3em;
    margin-right: 1em;
    margin-left: auto;
    text-decoration: underline;
    cursor: pointer;
    color: black;
}