#item-view-container {
    display: grid;
    gap: 1em;
    justify-content: start;
    align-content: start;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 3rem;
}

#item-actions {
    position: sticky;
    bottom: 1em;
    display: flex;
    justify-content: end;
}

#item-actions a {
    text-align: center;
    padding: 1em;
}

#trackers-tab > h2 {
    width: 100%;
    text-align: center;
    margin: 15rem 0;
}