nav {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: gray;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: groove;
    border-right-style: groove;
}

nav > div {
    display: flex;
    color: white;
    gap: 1em;
}

nav a {
    padding: 1em;
}

nav h1 {
    margin-right: 3em;
}