html {
  height: 100%;
}

body {
  padding: 0;
  display: flex;
  justify-content: center;
  background-image: url('./assets/dots_dark.jpg');
  background-size: 30%;
  min-height: 100%;
}

#root {
  padding: 2rem;
  max-width: 1000px;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
}

button, a {
  border: 1px inset black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFF;
  cursor: pointer;
  color: black;
  text-decoration: underline;
}
a:link {
  color: black;
}
a:visited {
  color:black;
}
a:hover, button:hover {
  border-style: outset;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active, a:active {
  border-style: inset;
}