#alerts-container {
    height: 230px;
    width: 100%;
    border: 0.5em groove lightgray;
    background-color: white;
    /*background-image: url('../../assets/dots.jpg');*/
    background-size: 1em;
    overflow-y: scroll;
}

#alerts-container a,
#alerts-container ul {
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
}

#alerts-container li {
    padding: 0.2em;
    border: 1px solid gray;
}

#alerts-container {
    margin: 1em 0;
}

#create-alert {
    text-decoration: underline;
    padding: 0.75em;
    cursor: pointer;
    width: fit-content;
}

.alerted {
    color: lightgray;
}