.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em 3em;
    background-color: rgba(255, 255, 255, 1);
    border-style: groove;
    color:black;
    line-height: 2em;
    min-width: 20rem;
    max-width: 20%;
    z-index: 999;
}

.popup-form > h2 {
    text-align: center;
}

.popup-form > span {
    color: red;
}

.popup-form > input, .popup-form > button {
    margin-left: auto;
    margin-right: 0;
    background-color: white;
    color: black;
    font-family: monospace;
    transition: 180ms box-shadow ease-in-out;
    padding: 0.2em;
    width: 100%;
    text-decoration: none;
    border: 2px groove #858585
}

.popup-form > input:hover, .popup-form > button:hover {
    box-shadow: 0 0 0 3px lightgray;
}

.popup-form > input:focus {
    outline: 1px gray solid;
    box-shadow: 0 0 0 3px lightgray;
}

.popup-form > #button {
    margin-right: 5%;
}

.popup-form > #button, #cancel {
    width: 47.5%;
    cursor: pointer;
}

.popup-form > div {
    height: 1.5em;
}

.popup-form > p {
    line-height: 1em;
    margin-top: 1em;
}